/* Button.css */

button {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(21, 167, 224);
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .5s;
}

button:hover {
    background-color: #13819c;
}

button:active {
    background-color: #0a2b50;
}
